:root {
	font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#root {
	height: 100%;
}

#root > div.container {
	height: 70%;
}

#root > div {
	height: 85%;
}

html {
	font-size: calc(1rem + 2vw);
	-ms-overflow-style: none;
	scrollbar-width: none;
}

html::-webkit-scrollbar {
	display: none;
}

body {
	height: 100vh;

	margin: 0;
	padding: 0;
}

.links {
	display: none;
}

b {
	color: crimson;
}

.container {
	display: flex;
	justify-content: center;
	width: 100%;
	height: 100%;
	margin-top: 0.3rem;
}

.formContainer {
	align-items: center;
	flex-direction: column;
	display: flex;
	height: fit-content;
	width: 25%;
	min-width: fit-content;
	font-size: 0.3rem;
	background-color: black;
	border-radius: 8px;
	padding: 0.3rem;
}

.form {
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: 0.2rem;
}

input {
	margin: 0;
	padding: 0.3rem;
	font-size: medium;
	border-radius: 8px;
}

.inputs {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 0.3rem;
}

.editControls,
.addControls {
	display: flex;
	gap: 0.3rem;
}

.loginBtn {
	display: flex;
	justify-content: center;
	font-weight: bold;
}

.heading {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
}

.logoutBtn {
	position: absolute;
	top: 0;
	right: 0;
	background-color: rgb(84, 4, 4);
}

.loggedInAs {
	align-self: flex-end;
	position: absolute;
	top: 1rem;
	right: 10px;
	font-size: small;
}

.wishlistContainer {
	display: flex;
	flex-direction: row;
	height: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
}

.wishes {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.yourWishes {
	width: 31vw;
	display: flex;
	flex-direction: column;
	padding-left: 0.3rem;
	padding-right: 0.3rem;
	padding-bottom: 0.3rem;
	min-height: fit-content;
	border-right: solid 1px white;
	border-left: solid 1px white;
}

.shoppingList {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 32vw;
}

.yourPart {
	display: flex;
	flex-direction: row;
}

.userList {
	width: 32vw;
	padding-left: 0.3rem;
	padding-right: 0.3rem;
	margin-bottom: 0.3rem;
}

.userWishes {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 50vw;
	background-color: #242424;
	border-radius: 8px;
	border: solid white 1px;
	padding: 0 0.3rem 0.3rem 0.3rem;
}

.owner {
	background-color: #646cff4f;
	display: flex;
	justify-content: center;
	font-size: large;
	border-radius: 8px;
	padding: 0.3rem;
}

.ownerContainer {
	padding-left: 0.3rem;
	margin-bottom: 0.7rem;
}

.ownerList {
	margin: 0;
}

.ownerList,
li {
	font-size: large;
}

.userList > .owner {
	cursor: pointer;
}

.yourWish > div {
	width: 100%;
	display: flex;
	justify-content: flex-end;
}

.yourWish:has(.editContainer) {
	border: 1px solid;
	border-color: #646cff;
}

.editContainer {
	width: 100%;
	margin: 0.3rem 0 0.3rem 0;
}

.addWishContainer {
	padding: 0.3rem;
	border: 1px solid;
	border-color: #646cff;
	border-radius: 8px;
}

.cancelBtn,
.delBtn {
	background-color: rgb(84, 4, 4);
}

.addBtn {
	align-self: center;
}

.addBtn,
.okBtn {
	background-color: rgb(5, 61, 5);
}

.title {
	font-size: large;
	align-self: center; /* for shopping list title  specifically */
}

ul {
	margin: 0;
}

.oneWish {
	background-color: transparent;
	border: solid 1px #ffffff3b;
	display: flex;
	flex-direction: column;
	border-radius: 8px;
	margin-top: 0.3rem;
	padding: 0.3rem;
}

.takenByYou {
	background-color: rgba(5, 61, 5, 0.192);
}

.yourWish {
	background-color: rgba(5, 61, 5, 0.192);
	border: solid 1px #ffffff3b;
	border-radius: 8px;
	display: flex;
	align-items: center;
	margin-top: 0.3rem;
	padding: 0 0.3rem 0 0.3rem;
}

.controls {
	display: flex;

	gap: 0.3rem;
}

.wishName {
	font-size: large;
	margin: 0.3rem 0 0.3rem 0;
}

.state {
	color: #d9dfe49d;
	font-size: large;
}

.placeholder {
	color: transparent;
}

.editForm,
.addWishForm {
	display: flex;
	flex-direction: column;
	border-radius: 8px;
}

.addWishForm {
	border-radius: 8px;
}

.editLabel,
.addLabel {
	flex-direction: row;
	font-size: small;
	color: white;
}

.editLabel {
	margin-bottom: 0.3rem;
}

a {
	font-weight: 500;
	color: #646cff;
	text-decoration: inherit;
}
a:hover {
	color: #535bf2;
}

img {
	border-radius: 8px;
}

button {
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.3rem;
	font-size: 0.3rem;
	background-color: #1a1a1a;
	cursor: pointer;
	transition: border-color 0.25s;
	display: flex;
	align-items: center;
	justify-content: center;
}

button:hover {
	border-color: #646cff;
}
button:focus,
button:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
}

.blur {
	filter: blur(6px);
}

img {
	height: 0.3rem;
}

.swal2-popup {
	font-size: 0.3rem;
}

.swal2-cancel {
	background-color: #242424;
	border: 1px solid transparent;
}

.swal2-cancel:hover {
	background-color: #242424;
	border-color: #646cff;
}

.swal2-confirm {
	background-color: rgb(5, 61, 5);
	border: 1px solid transparent;
}

.swal2-confirm:hover {
	background-color: rgb(5, 61, 5);
	border-color: #646cff;
}

.swal2-confirm:focus,
.swal2-confirm:focus-visible,
.swal2-cancel:focus,
.swal2-cancel:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
}

div:where(.swal2-icon).swal2-warning {
	border-color: rgb(84, 4, 4) !important;
	color: rgb(84, 4, 4) !important;
}

input:not(#username, #password) {
	width: 100%;
}

@media screen and (min-height: 1080px) {
	.container {
		margin-top: 2rem;
	}
	.title,
	.owner,
	.wishName,
	.ownerList {
		font-size: xx-large;
	}
}

@media screen and (max-width: 1024px) {
	body {
		height: 97vh;
	}

	input {
		margin: 0;
		padding: 0.3rem;
		font-size: small;
		border-radius: 8px;
	}

	button {
		font-size: large;
	}

	.heading {
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 1rem;
	}

	.formContainer {
		margin-top: 4rem;
		width: 30%;
		font-size: 0.8rem;
		padding: 0.7rem;
	}

	.shoppingList,
	.otherWishes,
	.yourWishes {
		border-radius: 8px;
		border-width: 0;
	}

	.wishlistContainer,
	.yourPart {
		display: flex;
		flex-direction: column;
	}

	.yourPart {
		align-items: center;
	}

	.shoppingList {
		width: 90%;
		background-color: #363642;
		padding: 0.7rem;
		margin-bottom: 0.7rem;
	}

	.yourWishes {
		background-color: #131315;
		padding: 0.7rem;
		margin-bottom: 0.7rem;
		width: 90%;
	}

	.otherWishes {
		background-color: #000000;
		padding: 0.7rem;
		width: 90%;
		align-self: center;
		margin-bottom: 0.7rem;
		margin-top: 0.7rem;
	}

	.otherWishes > div {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}

	.owner:not(.modal) {
		margin: 0;
		padding: 0.3rem;
	}

	.modal {
		font-size: larger;
	}

	.oneWish {
		margin-top: 0.7rem;
		padding: 0.3rem;
	}

	.loggedInAs {
		top: 3rem;
	}

	.swal2-popup {
		font-size: 0.7rem;
	}

	.userWishes {
		width: 80vw;
		max-height: 60vh;
		overflow: scroll;
	}

	img {
		height: 1rem;
	}

	.links {
		display: flex;
		justify-content: space-between;
		position: fixed;
		bottom: 0;
		background-color: #242424;
		width: 97%;
		padding: 0.3rem 0.3rem 0.7rem 0.3rem;
		font-size: smaller;
	}
}
