:root {
	font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html {
	font-size: calc(1.5rem + 2vw);
}

b {
	color: crimson;
}

.container {
	display: flex;
	justify-content: center;
	width: 100%;
	height: 100%;
	margin-top: 0.3rem;
}

.formContainer {
	align-items: center;
	flex-direction: column;
	display: flex;
	width: 30%;
	min-width: fit-content;
	font-size: 0.3rem;
	background-color: black;
	border-radius: 8px;
	padding: 0.3rem;
}

@media screen and (height > 1080px) {
	.container {
		margin-top: 2rem;
	}
}

.form {
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: 0.2rem;
}

input {
	margin-bottom: 10px;
	padding: 10px;
	font-size: medium;
	border-radius: 8px;
}

.heading {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
}

/* finished here */

.logoutBtn {
	position: absolute;
	top: 0;
	right: 0;
	background-color: rgb(84, 4, 4);
}

.loggedInAs {
	align-self: flex-end;
	position: absolute;
	top: 40px;
	right: 10px;
	font-size: small;
}

.wishlistContainer {
	display: flex;
	flex-direction: row;
	height: 85vh;
	width: 100vw;
}

.wishes {
	display: flex;
	flex-direction: column;
	width: 50vw;
	align-items: center;
	border-right: solid 1px white;
}

.yourWishes {
	display: flex;
	flex-direction: column;
	width: 35vw;
	align-items: center;
	border-right: solid 1px white;
}

.ownerContainer {
	display: flex;
	flex-direction: column;
	padding-left: 10px;
}

.sectionTitle {
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 100%;
}

.shoppingList {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 15vw;
}

.yourPart {
	display: flex;
	flex-direction: row;
}
.userList {
	width: 30vw;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 10px;
	max-height: 400px;
	flex-shrink: 0;
}

.userWishes {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 50vw;
	background-color: #242424;
	border-radius: 8px;
	border: solid white 1px;
	padding-left: 10px;
	padding-right: 10px;
}

.yourWishlist {
	padding-top: 10px;
	width: 30vw;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 10px;
}

.owner {
	background-color: #646cff4f;
	display: flex;
	justify-content: center;
	font-size: x-large;
	top: 0;
	border-radius: 8px;
}

.userList > .owner {
	cursor: pointer;
}

.editForm {
	background-color: #242424;
	padding-left: 10px;
}

.cancelBtn {
	background-color: rgb(84, 4, 4);
}

.addBtn,
.okBtn {
	background-color: rgb(5, 61, 5);
}

.addBtn {
	height: 40px;
}

.title {
	font-size: xx-large;
}

.oneWish {
	background-color: #ffffff3b;
	margin-bottom: 10px;
	padding-top: 5px;
	padding-left: 10px;
	padding-right: 10px;
	display: flex;
	flex-direction: column;
	border-radius: 8px;
}

.yourWish {
	background-color: #ffffff3b;
	margin-bottom: 10px;
	padding: 5px;
	border-radius: 8px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.controls {
	display: flex;
	justify-content: space-between;
	width: 3vw;
}

.wishName {
	font-weight: bold;
	margin: 0;
	font-size: larger;
}

.state {
	color: #d9dfe49d;
}

.editForm,
.addWishForm {
	display: flex;
	flex-direction: column;
	border: solid #646cff4f;
	border-radius: 8px;
}

.addWishForm {
	padding-left: 10px;
	border-radius: 8px;
}

.editLabel,
.addLabel {
	flex-direction: row;
	font-size: small;
	color: white;
}

.inputs {
	flex-direction: row;
}

a {
	font-weight: 500;
	color: #646cff;
	text-decoration: inherit;
}
a:hover {
	color: #535bf2;
}

img {
	border-radius: 8px;
}

button {
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	background-color: #1a1a1a;
	cursor: pointer;
	transition: border-color 0.25s;
	margin: 5px;
}
button:hover {
	border-color: #646cff;
}
button:focus,
button:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
	:root {
		color: #213547;
		background-color: #ffffff;
	}
	a:hover {
		color: #747bff;
	}
	button {
		background-color: #f9f9f9;
	}
}

.blur {
	filter: blur(6px);
}

img {
	height: 2vh;
	width: auto;
}
